<div class="col-12">
  <app-advanced-table-search [mergeQueryParams]="true" [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
</div>
<a class="text-secondary btn btn-lg btn-default text-decoration-none mr-2 " [routerLink]="['../../']">
  <span>{{'Events.Back' | translate}}</span>
</a>
<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [disabled] = '!eventStatus' (click)="allPresent()">
        <span>{{'Events.AllPresent' | translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [disabled] = '!eventStatus' (click)="save()">
        <span>{{'Events.Save' |translate}}</span>
      </button>
      <button class="text-indigo btn btn-lg btn-default text-decoration-none mr-2" [disabled] = '!eventStatus' (click)="commit()">
        <span>{{'Events.Commit' | translate}}</span>
      </button>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [tableEditor] [config]="tableConfiguration" [paging]="true" (load)="onDataLoad($event)" [serverSide]="false"></app-advanced-table>
  <!-- <app-advanced-table #table [config]="tableConfiguration" [selectable]="true" [paging]="true" [scrollable]="true" [showFooter]="false" [serverSide]=false></app-advanced-table> -->
</div>
