<div>
  <div class="d-md-flex d-inline-block justify-content-start align-items-end mb-3">
    <div class="pr-3">
      <h3 class="d-inline" [translate]="'Events.UpcomingEvents'"></h3>
    </div>
  </div>

  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-2 empty big"></div>
          <div class="ph-col-2 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="mx-2 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!isLoading">
    <p *ngIf="!events.length" class="info-text m-0 p-4" [translate]="'Events.NoUpcomingEventsFound'"></p>
    <ul class="sis--list-group sis--list-group-body" *ngIf="events && events.length > 0">
      <li class="sis--list-group-item" *ngFor="let event of events">
        <div class="d-flex  align-items-center list-color" *ngIf="event?.startDate">
          <div>
            <i class="fa fa-circle pr-3 text-primary" [style.color]="event.color"
            ></i>
          </div>
          <div class="sis--list-group-item_lg_column">
              <span class="d-bock w-100">
                {{event?.startDate |localizedDate}} - {{ event?.name}} - {{event?.courseClass?.title }}
              </span>
            <small class="d-block ml-auto text-secondary">
              {{ event?.description }}
            </small>
          </div>
          <div *ngIf="model === _model" class="sis--list-group-item_sm_column text-right">
            <button (click)="goToURL(event)" [translate]="'Events.show'"
               class="btn btn-outline-secondary btn-sm rounded-pill p-2 pl-4 pr-4 mb-2"
            ></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
