<div>
  <div class="modal-body pt-0">
    <div class="row">
      <div class="col-12">
        <ng-container>
          <advanced-form-edit #formComponent></advanced-form-edit>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled" (click)="ok()"
            type="button" [ngClass]="okButtonClass">
      {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading"
            (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
