<div>
  <div class="row">
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" >
        <button class="btn btn-outline-indigo btn-lg" (click)="add()" type="button" [translate]="'Registrations.CommitRegistration'">
          Edit
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="add()" [translate]="'Registrations.AddCourses'">Add</button>
          <button [disabled]="!tableEditor.dirty" class="dropdown-item" (click)="tableEditor.undo()" [translate]="'Registrations.UndoCourses'">Undo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table tableEditor [selectable]="true" [scrollable]="true" [showFooter]="false" [serverSide]="false"
                          #classes [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
